.page-header {
  background-color : #000;
  margin: 0 !important;
}
.page-header img{
  margin: auto;
  /**/
}
.page-header h1{
  color : #fff;
}
.page-header h4{
  color : #aeaeae;
}
.triangle{
	width:1px;
	height:1px;
	border:1px solid #069;
	border-color: #000 transparent transparent  transparent;
	border-width:15px;
	margin: auto;
}
.modal-header {
  background-color : #f2f2f2;
  padding: 0 !important;
  padding-bottom : 20px !important;
}
.modal-header p{
  width:300px;
  margin :auto;
  padding-bottom: 20px;
  font-family:Times New Roman;
}
.modal-header h4{
  font-family:Arial;
}
.modal-header button{
  background: #F9A101;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.modal-header button a{
 color : #000;
}
.github-sources {
  text-align : center;
}
.github-sources span {
  background-color : transparent !important;
  width: 280px;
  height : 200px;
}
.github-sources span div {
  height : 70px;
}
.github-sources span div h4{
  color : #000;
}
.github-sources span div p{
  color : #a0a0a0;
  word-wrap: break-word; 
}
.github-sources span button {
  background-color : #66CC33;
  width : 160px;
}
.github-sources span button a {
 color : #fff;
}
.rtecenter span {
width: 210px;
height : 100px;
}
.fb-lnk {
background: url(../img/fb-lnk.png) no-repeat;
}
.twit-lnk {
background: url(../img/twit-lnk.png) no-repeat;
}
.link-lnk {
background: url(../img/linki-lnk.png) no-repeat;
}
.google-lnk {
background: url(../img/google-lnk.png) no-repeat;
}
.rss-lnk {
background: url(../img/rss-lnk.png) no-repeat;
}
.rtecenter a{
height: 45px;
float: left;
margin-right: 17px;
padding-left: 55px;
padding-top: 15px;
font-size: 12px;
color: #999999;
text-decoration: none;
}
.rtecenter a:visited {
height: 45px;
float: left;
margin-right: 17px;
padding-left: 55px;
padding-top: 15px;
font-size: 12px;
color: #999999;
text-decoration: none;
}
.follow-us {
 background-color : #f2f2f2;
 text-align : center;
 height : 100%;
 width : 100%;
}
.follow-us h1 {
 font-family:Impact;
}
