// @import '../bower_components/_normalize.scss/normalize';
@import 'bootstrap-custom';
@import 'susy';
@import 'breakpoint';
@import 'wakanda/ui';

@import 'wakanda/grid';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

html{
	font-size: 18px;
}
body{
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	text-align: center;
}

h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 700;
}
h3{
	font-size: 1.4rem;
	margin-bottom: 0;
}

// HEADER -----------------------------------------------------------------------------
.page-header {
	box-sizing: border-box;
	padding: 1.5rem 0;
	background-color : #1c1d1d;
	margin: 0;
	text-align: center;
	background-image: url(../img/bg.png);
	background-repeat: repeat;
	background-attachment: fixed;
	width: 100%;

	.logo{
		box-flex: 5;
		@include responsiveImages;
		text-align: right;
		// width: 50%;
		// padding-right: 1rem;
		display: inline-block;
		vertical-align: middle;

		@include breakpoint($tablet-small) {
			padding-right: 1rem;
		}
		@include breakpoint($tablet-large) {
			padding-right: 1rem;
		}
		@include breakpoint($desktop-small) {
			padding-right: 1rem;
		}
	}
	.header-txt{
		// box-flex: 5;
		display: inline-block;
		vertical-align: middle;
		padding-left: 1rem;
		text-align: left;

		@include breakpoint($mobile-small) {
			text-align: center;
		}
		@include breakpoint($mobile-large) {
			text-align: center;
		}
		@include breakpoint($tablet-small) {
			text-align: left;
		}
		@include breakpoint($tablet-large) {
			text-align: left;
		}
		@include breakpoint($desktop-small) {
			text-align: left;
		}
	}
	h1{
		margin-left: 4rem;
		font-size: 3rem;
		color: white;
		font-weight: 700;
		margin: 0;

		@include breakpoint($mobile-large) {
			font-size: 2.5rem;
		}

		sup{
			font-size: 1rem;
			top: -1rem;
		}
	}
	p{
		color: $gray-dark;
		font-size: 1.7rem;
		margin: 0;

		@include breakpoint($mobile-large) {
			font-size: 1.4rem;
		}
	}
}

// POST HEADER ------------------------------------------------------------------------
.post-header{
	position: relative;
	background-color: $gray-light;
	border-bottom: 8px solid $gray-medium;
	padding: 0 4rem 1rem 4rem;
	color: $gray-dark;
	text-align: center;
	width: 100%;

	.triangle{
		position: absolute;
		top: -1px;
		left: 50%;
		margin-left: -20px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 20px 20px 0 20px;
		border-color: #1c1d1d transparent transparent transparent;
	}
	p{
		margin: 0;
		margin-bottom: 1rem;
	}
	.button{
		background-color: $orange-dark;
		background-image: linear-gradient($orange-light, $orange-dark);
		box-shadow: 0 4px 0 #f36c08;
		color: black;
		font-size: 1.2rem;
		padding: 0.5rem 1rem;

		&:hover{
			transition: all 100ms ease;
			box-shadow: 0 1px 0 #f36c08;
			transform: translateY(3px);
			backface-visibility: hidden;
		}
	}
}
.post-header-txt,
.post-header-btn-box{
	display: inline-block;
	vertical-align: middle;
}


// PAGE -------------------------------------------------------------------------------
.page{
	margin: 2rem 10%;

	@include breakpoint($mobile-small) {
		margin: 2rem;
	}
	@include breakpoint($mobile-large) {
		margin: 2rem;
	}
	
	h2{

		i{
			margin: 0 auto 1rem auto;
			background-color: $green-light;
			display: block;
			font-size: 3rem;
			color: white;
			width: 4rem;
			height: 4rem;
			text-align: center;
			line-height: 4rem;
			border-radius: 50%;
		}
	}
	hr{
		border-top-color: $green-light;
	}
}

.github-sources {
	@include clearfix;
	box-sizing: border-box;
	text-align : left;
	padding: 0;
	margin-top: 2rem;

	li{
		margin: 1rem;
		box-sizing: border-box;
		border-left: 4px solid $green-light;
		vertical-align: middle;
		list-style-type: none;
		display: table;
		background-color: $gray-light;

		@include breakpoint($mobile-small) {
			width: 100%;
			margin-left: 0;
		}
		@include breakpoint($mobile-large) {
			width: 100%;
			margin-left: 0;
		}
		@include breakpoint($tablet-small) {
			width: 100%;
			margin-left: 0;
		}
		@include breakpoint($tablet-large) {
			width: 100%;
			margin-left: 0;
		}
		@include breakpoint($desktop-small) {
			width: 100%;
		}
	}
	h4{
		margin-top: 0;
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 0.5rem;
	}
	.strong{
		font-weight: 700;
	}
	p{
		margin: 0;
		color: $gray-dark;
		height: 100%;
	}
	.colTxt,
	.colBtn{
		box-sizing: border-box;
		display: table-cell;
		height: 100%;
		vertical-align: middle;

		@include breakpoint($mobile-small) {
			display: block;
		}
		@include breakpoint($mobile-large) {
			display: block;
		}
		@include breakpoint($tablet-small) {
			// display: block;
		}
	}
	.colTxt{
		width: 80%;
		padding: 1rem;

		@include breakpoint($mobile-small) {
			text-align: center;
			width: 100%;
		}
		@include breakpoint($mobile-large) {
			text-align: center;
			width: 100%;
		}
		@include breakpoint($tablet-small) {
			// text-align: center;
			// width: 100%;
			width: 75%;
		}
	}
	.colBtn{
		text-align: right;
		padding-right: 1rem;

		@include breakpoint($mobile-small) {
			text-align: center;
			margin-bottom: 1.5rem;
			padding-right: 0;
		}
		@include breakpoint($mobile-large) {
			text-align: center;
			margin-bottom: 1.5rem;
			padding-right: 0;
		}
		@include breakpoint($tablet-small) {
			// text-align: center;
			// margin-bottom: 1.5rem;
			// padding-right: 0;
		}
	}
}

// NG-wakanda
.ng-wakanda{
	background-image: url(../img/ng-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 4rem 10%;
	color: white;
	font-size: 1.2rem;

	h3{
		font-size: 3rem;
		font-weight: 300;
		margin-top: 0;
		color: #dd1b16;
	}
	p{
		margin: 0;
	}
}
.ng-europe,
.wakanda-pack{
	display: inline-block;
	vertical-align: middle;
	width: 49%;
}
.ng-europe{
	.ng-euro-logo{
		@include responsiveImages;
		margin-top: 1rem;
	}	
}
.wakanda-pack-text{
	text-align: left;
}
.wakanda-pack-logo{
	float: left;

	img{
		margin-right: 2rem;
	}
}

// FOOTER ----------------------------------------------------------------------------
.page-footer{
	background-color: $gray-light;
	padding-top: 2rem;

	.wakanda-logo{
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
		box-sizing: border-box;
		text-align: center;
		display: block;
		margin: 0 auto;
		margin-bottom: 1rem;
		color: white;
		background-color: black;
		font-style: normal;
		font-weight: 400;
	}
}
.footer-links{
	text-align: center;
	margin-top: 2rem;
	padding: 0;

	li{
		display: inline-block;
		vertical-align: middle;
		margin: 1rem;
		padding: 0;

		@include breakpoint($mobile-small) {
			margin: 1rem 0.5rem;
		}
		@include breakpoint($mobile-large) {
			margin: 1rem 0.5rem;
		}

		a{
			transition: all 300ms ease;
			color: $gray-dark;
			text-decoration: none;

			&:hover{
				transition: all 300ms ease;
				color: black;

				i{
					transition: all 300ms ease;
					background-color: black;
				}
			}
		}
	}
	i{
		transition: all 300ms ease;
		background-color: $gray-dark;
		display: inline-block;
		font-size: 1.3rem;
		color: white;
		width: 2.5rem;
		height: 2.5rem;
		text-align: center;
		line-height: 2.5rem;
		border-radius: 50%;
	}
	span{
		margin-left: 0.5rem;

		@include breakpoint($mobile-small) {
			display: none;
		}
		@include breakpoint($mobile-large) {
			display: none;
		}
		@include breakpoint($tablet-small) {
			display: none;
		}
		@include breakpoint($tablet-large) {
			display: none;
		}
	}
}
.footer-copyrights{
	@include clearfix;
	background-color: black;
	padding: 1rem;
	color: white;
	margin: 0;

	li{
		float: left;
		list-style-type: none;
		margin: 0 1rem;

		&:last-child{
			float: right;
		}

		@include breakpoint($mobile-small) {
			float: none;

			&:last-child{
				float: none;
			}
		}
		@include breakpoint($mobile-large) {
			float: none;

			&:last-child{
				float: none;
			}
		}
	}
	a{
		color: white;
		text-decoration: none;

		&:hover{
			color: $orange-light;
		}
	}
}