// Helpers
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%clearfix{
	@include clearfix;
}

@mixin responsiveImages{
	img{
		max-width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}
.table{
	display: table;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}